label{
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: small;
}
/* input.form-control{
    width: 200px !important;
}; */

.formInputBoxSpacing {
    margin-right: 10px;
}


.wid_200{
    width: 200px;
    margin-bottom: 0px;
    height: 19.5px;
    margin-top: 6px;
}